/* BASE */

:root {
  --color-primary: #4AC074;
  --color-light: #E4E8E8;
	--color-dark: #2E343A;
}

html {
	height: 100%;
}

body {
	width: 100%;
	min-height:100%; 
	position:relative; 

	margin: 0;

	background-color: #eee;
	font-size: 20px;
	font-family: 'Poppins';

	overflow-x: hidden;
	overflow-y: scroll !important;
}

/* LAYOUT */

.section {
	padding: 5em 0 5em 0;
	z-index: 100;
}

.section-primary {
	color: var(--color-dark);
	background-color: var(--color-primary);
}

.section-gradient {
	color: #fff;
  background-image: linear-gradient(to right, #81E1DD , #4AC074);
}

.section-light {
	color: var(--color-dark);
	background-color: var(--color-light);
}

.section-dark {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.content {
	min-height: 80vh;
	max-width: 800px;
	margin: 0 auto;
}

/* GRID */

.grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
	.grid-row {
		flex-direction: row;
	}
}

.center {
	align-items: center;
	justify-content: center;
}

.center > .cell {
	flex: 0;
}

.cell {
	padding: 2%;
	flex: 1;
}

/* COLORS */
.color-primary {
	color: var(--color-primary);
}

.color-dark {
	color: var(--color-dark);
}

.color-light {
	color: var(--color-light);
}

/* MISC */

a.disabled {
	pointer-events: none;
	cursor: default;
}

.text-center {
	text-align: center;
}

/* ANIMATIONS */

.animated.icon-grow {
  opacity: 0;
	transform: translate3d(0px, 50px, 0px);
	font-size: 50px;
	line-height: 124px;
	
	transition: opacity 0.5s, transform 1s, font-size 0.5s;
}

.animated.icon-grow.revealed {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
	font-size: 100px;
}